<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Digital Gold Account Verification</title>
  <style>
    a.url {
      outline: none;
      text-decoration: none;
      border-radius: 5px;
      padding: 10px 20px;
      background-color: black;
      color: #fff;
      font-size: medium;
    }
  </style>
</head>

<body>

  <center>
    <h3>
      Account Verification
    </h3>
  </center>

  <p>
    Dear {{ name }}, <br><br>
    Thank you for registering on Digital Gold:
  </p>

  <p>
    Please user the code below to verify your account
  </p>
  <center>
    <a href="#" target="_blank" rel="noopener noreferrer">{{verify_code}}</a>
  </center><br>

</body>

</html>